<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [27]:
#!pip install sql_magic
!pip show sql_magic

Name: sql-magic
Version: 0.0.4
Summary: UNKNOWN
Home-page: UNKNOWN
Author: Chris Rawles
Author-email: crawles@gmail.com
License: UNKNOWN
Location: c:\users\brandon\anaconda3\lib\site-packages
Requires: ipython, pandas, jupyter, findspark, sqlparse, traitlets
Required-by:

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [33]:
%load_ext sql_magic

The sql_magic extension is already loaded. To reload it, use:
  %reload_ext sql_magic

In [23]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
#!pip install -q pandas==1.1.5

In [39]:
#%sql sqlite:///my_data1.db
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [44]:
import pandas as pd
df = pd.read_csv("Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [89]:
#df.head(20)
filtered_df = df[df['Customer'].str.contains('NASA', case=False, na=False)].reset_index(drop=True)
#checking my sql worl below
#filtered_df['PAYLOAD_MASS__KG_'].sum()
df['Mission_Outcome'].value_counts()

Success                             98
Failure (in flight)                  1
Success (payload status unclear)     1
Success                              1
Name: Mission_Outcome, dtype: int64

**Note:This below code is added to remove blank rows from table**

In [41]:
cur.execute("CREATE TABLE SPACEXTABLE AS SELECT * FROM SPACEXTBL WHERE Date IS NOT NULL;")

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [46]:
cur.execute("SELECT DISTINCT Launch_Site FROM SPACEXTBL;")
result = cur.fetchall()

result

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [68]:
sql_query = """
SELECT * FROM SPACEXTBL
WHERE Launch_Site
LIKE 'CCA%';
"""

# Execute the SQL query
cur.execute(sql_query)

# Fetch the result if needed
result = cur.fetchall()
result

[('2010-04-06',
  '18:45:00',
  'F9 v1.0  B0003',
  'CCAFS LC-40',
  'Dragon Spacecraft Qualification Unit',
  0,
  'LEO',
  'SpaceX',
  'Success',
  'Failure (parachute)'),
 ('2010-08-12',
  '15:43:00',
  'F9 v1.0  B0004',
  'CCAFS LC-40',
  'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese',
  0,
  'LEO (ISS)',
  'NASA (COTS) NRO',
  'Success',
  'Failure (parachute)'),
 ('2012-05-22',
  '07:44:00',
  'F9 v1.0  B0005',
  'CCAFS LC-40',
  'Dragon demo flight C2',
  525,
  'LEO (ISS)',
  'NASA (COTS)',
  'Success',
  'No attempt'),
 ('2012-08-10',
  '00:35:00',
  'F9 v1.0  B0006',
  'CCAFS LC-40',
  'SpaceX CRS-1',
  500,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'No attempt'),
 ('2013-01-03',
  '15:10:00',
  'F9 v1.0  B0007',
  'CCAFS LC-40',
  'SpaceX CRS-2',
  677,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'No attempt'),
 ('2013-03-12',
  '22:41:00',
  'F9 v1.1',
  'CCAFS LC-40',
  'SES-8',
  3170,
  'GTO',
  'SES',
  'Success',
  'No attempt'),
 ('2014-06-01',
  '22:06:00',
  'F9 v1.1',
  'CCAFS LC-40',
  'Thaicom 6',
  3325,
  'GTO',
  'Thaicom',
  'Success',
  'No attempt'),
 ('2014-04-18',
  '19:25:00',
  'F9 v1.1',
  'CCAFS LC-40',
  'SpaceX CRS-3',
  2296,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Controlled (ocean)'),
 ('2014-07-14',
  '15:15:00',
  'F9 v1.1',
  'CCAFS LC-40',
  'OG2 Mission 1  6 Orbcomm-OG2 satellites',
  1316,
  'LEO',
  'Orbcomm',
  'Success',
  'Controlled (ocean)'),
 ('2014-05-08',
  '08:00:00',
  'F9 v1.1',
  'CCAFS LC-40',
  'AsiaSat 8',
  4535,
  'GTO',
  'AsiaSat',
  'Success',
  'No attempt'),
 ('2014-07-09',
  '05:00:00',
  'F9 v1.1 B1011',
  'CCAFS LC-40',
  'AsiaSat 6',
  4428,
  'GTO',
  'AsiaSat',
  'Success',
  'No attempt'),
 ('2014-09-21',
  '05:52:00',
  'F9 v1.1 B1010',
  'CCAFS LC-40',
  'SpaceX CRS-4',
  2216,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Uncontrolled (ocean)'),
 ('2015-10-01',
  '09:47:00',
  'F9 v1.1 B1012',
  'CCAFS LC-40',
  'SpaceX CRS-5',
  2395,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Failure (drone ship)'),
 ('2015-11-02',
  '23:03:00',
  'F9 v1.1 B1013',
  'CCAFS LC-40',
  'DSCOVR',
  570,
  'HEO',
  'U.S. Air Force NASA NOAA',
  'Success',
  'Controlled (ocean)'),
 ('2015-02-03',
  '03:50:00',
  'F9 v1.1 B1014',
  'CCAFS LC-40',
  'ABS-3A Eutelsat 115 West B',
  4159,
  'GTO',
  'ABS Eutelsat',
  'Success',
  'No attempt'),
 ('2015-04-14',
  '20:10:00',
  'F9 v1.1 B1015',
  'CCAFS LC-40',
  'SpaceX CRS-6',
  1898,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Failure (drone ship)'),
 ('2015-04-27',
  '23:03:00',
  'F9 v1.1 B1016',
  'CCAFS LC-40',
  'Turkmen 52 / MonacoSAT',
  4707,
  'GTO',
  'Turkmenistan National Space Agency',
  'Success',
  'No attempt'),
 ('2015-06-28',
  '14:21:00',
  'F9 v1.1 B1018',
  'CCAFS LC-40',
  'SpaceX CRS-7',
  1952,
  'LEO (ISS)',
  'NASA (CRS)',
  'Failure (in flight)',
  'Precluded (drone ship)'),
 ('2015-12-22',
  '01:29:00',
  'F9 FT B1019',
  'CCAFS LC-40',
  'OG2 Mission 2  11 Orbcomm-OG2 satellites',
  2034,
  'LEO',
  'Orbcomm',
  'Success',
  'Success (ground pad)'),
 ('2016-04-03',
  '23:35:00',
  'F9 FT B1020',
  'CCAFS LC-40',
  'SES-9',
  5271,
  'GTO',
  'SES',
  'Success',
  'Failure (drone ship)'),
 ('2016-08-04',
  '20:43:00',
  'F9 FT B1021.1',
  'CCAFS LC-40',
  'SpaceX CRS-8',
  3136,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success (drone ship)'),
 ('2016-06-05',
  '05:21:00',
  'F9 FT B1022',
  'CCAFS LC-40',
  'JCSAT-14',
  4696,
  'GTO',
  'SKY Perfect JSAT Group',
  'Success',
  'Success (drone ship)'),
 ('2016-05-27',
  '21:39:00',
  'F9 FT B1023.1',
  'CCAFS LC-40',
  'Thaicom 8',
  3100,
  'GTO',
  'Thaicom',
  'Success',
  'Success (drone ship)'),
 ('2016-06-15',
  '14:29:00',
  'F9 FT B1024',
  'CCAFS LC-40',
  'ABS-2A Eutelsat 117 West B',
  3600,
  'GTO',
  'ABS Eutelsat',
  'Success',
  'Failure (drone ship)'),
 ('2016-07-18',
  '04:45:00',
  'F9 FT B1025.1',
  'CCAFS LC-40',
  'SpaceX CRS-9',
  2257,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success (ground pad)'),
 ('2016-08-14',
  '05:26:00',
  'F9 FT B1026',
  'CCAFS LC-40',
  'JCSAT-16',
  4600,
  'GTO',
  'SKY Perfect JSAT Group',
  'Success',
  'Success (drone ship)'),
 ('2017-12-15',
  '15:36:00',
  'F9 FT  B1035.2',
  'CCAFS SLC-40',
  'SpaceX CRS-13',
  2205,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success (ground pad)'),
 ('2018-08-01',
  '01:00:00',
  'F9 B4 B1043.1',
  'CCAFS SLC-40',
  'Zuma',
  5000,
  'LEO',
  'Northrop Grumman',
  'Success (payload status unclear)',
  'Success (ground pad)'),
 ('2018-01-31',
  '21:25:00',
  'F9 FT  B1032.2',
  'CCAFS SLC-40',
  'GovSat-1 / SES-16',
  4230,
  'GTO',
  'SES',
  'Success',
  'Controlled (ocean)'),
 ('2018-06-03',
  '05:33:00',
  'F9 B4 B1044',
  'CCAFS SLC-40',
  'Hispasat 30W-6  PODSat',
  6092,
  'GTO',
  'Hispasat  NovaWurks',
  'Success',
  'No attempt'),
 ('2018-02-04',
  '20:30:00',
  'F9 B4  B1039.2',
  'CCAFS SLC-40',
  'SpaceX CRS-14',
  2647,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'No attempt'),
 ('2018-04-18',
  '22:51:00',
  'F9 B4 B1045.1',
  'CCAFS SLC-40',
  'Transiting Exoplanet Survey Satellite (TESS)',
  362,
  'HEO',
  'NASA (LSP)',
  'Success',
  'Success (drone ship)'),
 ('2018-04-06',
  '04:45:00',
  'F9 B4  B1040.2',
  'CCAFS SLC-40',
  'SES-12',
  5384,
  'GTO',
  'SES',
  'Success',
  'No attempt'),
 ('2018-06-29',
  '09:42:00',
  'F9 B4 B1045.2',
  'CCAFS SLC-40',
  'SpaceX CRS-15',
  2697,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'No attempt'),
 ('2018-07-22',
  '05:50:00',
  'F9 B5B1047.1',
  'CCAFS SLC-40',
  'Telstar 19V',
  7075,
  'GTO',
  'Telesat',
  'Success',
  'Success'),
 ('2018-07-08',
  '05:18:00',
  'F9 B5 B1046.2',
  'CCAFS SLC-40',
  'Merah Putih ',
  5800,
  'GTO',
  'Telkom Indonesia',
  'Success',
  'Success'),
 ('2018-10-09',
  '04:45:00',
  'F9 B5B1049.1',
  'CCAFS SLC-40',
  'Telstar 18V / Apstar-5C',
  7060,
  'GTO',
  'Telesat',
  'Success',
  'Success'),
 ('2018-05-12',
  '18:16:00',
  'F9 B5B1050',
  'CCAFS SLC-40',
  'SpaceX CRS-16',
  2500,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Failure'),
 ('2018-12-23',
  '13:51:00',
  'F9 B5B1054',
  'CCAFS SLC-40',
  'GPS III-01 ',
  4400,
  'MEO',
  'USAF',
  'Success ',
  'No attempt'),
 ('2019-02-22',
  '01:45:00',
  'F9 B5 B1048.3',
  'CCAFS SLC-40',
  'Nusantara Satu, Beresheet Moon lander, S5',
  4850,
  'GTO',
  'PSN, SpaceIL / IAI',
  'Success',
  'Success'),
 ('2019-04-05',
  '06:48:00',
  'F9 B5B1056.1 ',
  'CCAFS SLC-40',
  'SpaceX CRS-17, Starlink v0.9',
  2495,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success'),
 ('2019-05-24',
  '02:30:00',
  'F9 B5 B1049.3',
  'CCAFS SLC-40',
  'Starlink v0.9, RADARSAT Constellation',
  13620,
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('2019-07-25',
  '22:01:00',
  'F9 B5 B1056.2 ',
  'CCAFS SLC-40',
  'SpaceX CRS-18, AMOS-17 ',
  2268,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success'),
 ('2019-06-08',
  '23:23:00',
  'F9 B5 B1047.3 ',
  'CCAFS SLC-40',
  'AMOS-17, Starlink 1 v1.0 ',
  6500,
  'GTO',
  'Spacecom',
  'Success',
  'No attempt '),
 ('2019-11-11',
  '14:56:00',
  'F9 B5 B1048.4',
  'CCAFS SLC-40',
  'Starlink 1 v1.0, SpaceX CRS-19 ',
  15600,
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('2019-05-12',
  '17:29:00',
  'F9 B5B1059.1',
  'CCAFS SLC-40',
  'SpaceX CRS-19, JCSat-18 / Kacific 1 ',
  2617,
  'LEO (ISS)',
  'NASA (CRS), Kacific 1',
  'Success',
  'Success'),
 ('2019-12-17',
  '00:10:00',
  'F9 B5 B1056.3 ',
  'CCAFS SLC-40',
  'JCSat-18 / Kacific 1, Starlink 2 v1.0 ',
  6956,
  'GTO',
  'Sky Perfect JSAT, Kacific 1',
  'Success',
  'Success'),
 ('2020-07-01',
  '02:33:00',
  'F9 B5 B1049.4',
  'CCAFS SLC-40',
  'Starlink 2 v1.0, Crew Dragon in-flight abort test ',
  15600,
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('2020-01-29',
  '14:07:00',
  'F9 B5 B1051.3',
  'CCAFS SLC-40',
  'Starlink 3 v1.0, Starlink 4 v1.0 ',
  15600,
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('2020-02-17',
  '15:05:00',
  'F9 B5 B1056.4',
  'CCAFS SLC-40',
  'Starlink 4 v1.0, SpaceX CRS-20',
  15600,
  'LEO',
  'SpaceX',
  'Success',
  'Failure'),
 ('2020-07-03',
  '04:50:00',
  'F9 B5 B1059.2',
  'CCAFS SLC-40',
  'SpaceX CRS-20, Starlink 5 v1.0 ',
  1977,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success'),
 ('2020-04-06',
  '01:25:00',
  'F9 B5 B1049.5',
  'CCAFS SLC-40',
  'Starlink 7 v1.0, Starlink 8 v1.0',
  15600,
  'LEO',
  'SpaceX, Planet Labs',
  'Success',
  'Success'),
 ('2020-06-13',
  '09:21:00',
  'F9 B5 B1059.3',
  'CCAFS SLC-40',
  'Starlink 8 v1.0, SkySats-16, -17, -18, GPS III-03 ',
  15410,
  'LEO',
  'SpaceX, Planet Labs',
  'Success',
  'Success'),
 ('2020-06-30',
  '20:10:46',
  'F9 B5B1060.1',
  'CCAFS SLC-40',
  'GPS III-03, ANASIS-II',
  4311,
  'MEO',
  'U.S. Space Force',
  'Success',
  'Success'),
 ('2020-07-20',
  '21:30:00',
  'F9 B5 B1058.2 ',
  'CCAFS SLC-40',
  'ANASIS-II, Starlink 9 v1.0',
  5500,
  'GTO',
  'Republic of Korea Army, Spaceflight Industries (BlackSky)',
  'Success',
  'Success'),
 ('2020-08-18',
  '14:31:00',
  'F9 B5 B1049.6',
  'CCAFS SLC-40',
  'Starlink 10 v1.0, SkySat-19, -20, -21, SAOCOM 1B ',
  15440,
  'LEO',
  'SpaceX, Planet Labs, PlanetIQ',
  'Success',
  'Success'),
 ('2020-08-30',
  '23:18:00',
  'F9 B5 B1059.4',
  'CCAFS SLC-40',
  'SAOCOM 1B, GNOMES 1, Tyvak-0172',
  3130,
  'SSO',
  'CONAE, PlanetIQ, SpaceX',
  'Success',
  'Success'),
 ('2020-10-24',
  '15:31:34',
  'F9 B5 B1060.3',
  'CCAFS SLC-40',
  'Starlink 14 v1.0, GPS III-04  ',
  15600,
  'LEO',
  'SpaceX',
  'Success',
  'Success'),
 ('2020-05-11',
  '23:24:23',
  'F9 B5B1062.1',
  'CCAFS SLC-40',
  'GPS III-04 , Crew-1',
  4311,
  'MEO',
  'USSF',
  'Success',
  'Success'),
 ('2020-11-25',
  '02:13:00',
  'F9 B5 B1049.7 ',
  'CCAFS SLC-40',
  'Starlink 15 v1.0, SpaceX CRS-21',
  15600,
  'LEO',
  'SpaceX',
  'Success',
  'Success')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [62]:
sql_query = """
SELECT Customer, SUM(PAYLOAD_MASS__KG_) AS TotalPayloadMass
FROM SPACEXTBL
WHERE Customer LIKE '%NASA%';
"""

# Execute the SQL query
cur.execute(sql_query)

# Fetch the result if needed
result = cur.fetchall()
result

[('NASA (COTS) NRO', 107010)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [72]:
sql_query = """
SELECT Booster_Version, AVG(PAYLOAD_MASS__KG_) AS AvgPayloadMass
FROM SPACEXTBL
WHERE Booster_Version LIKE '%F9 v1.1%';
"""

# Execute the SQL query
cur.execute(sql_query)

# Fetch the result if needed
result = cur.fetchall()
result

[('F9 v1.1  B1003', 2534.6666666666665)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [74]:
sql_query = """
SELECT MIN(Date)
FROM SPACEXTBL;

"""

# Execute the SQL query
cur.execute(sql_query)

# Fetch the result if needed
result = cur.fetchall()
result

[('2010-04-06',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [79]:
sql_query = """
SELECT Booster_Version
FROM SPACEXTBL
WHERE Landing_Outcome = 'Success (drone ship)'
AND PAYLOAD_MASS__KG_ > 4000
AND PAYLOAD_MASS__KG_ < 6000;

"""

# Execute the SQL query
cur.execute(sql_query)

# Fetch the result if needed
result = cur.fetchall()
result

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [90]:
sql_query = """
SELECT Mission_Outcome, COUNT(*) AS Total
FROM SPACEXTBL
WHERE Mission_Outcome IN ('Success', 'Success (drone ship)', 'Success (payload status unclear)', 'Failure (in flight)')
GROUP BY Mission_Outcome;

"""
# Execute the SQL query
cur.execute(sql_query)

# Fetch the result if needed
result = cur.fetchall()
result

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [91]:
sql_query = """
SELECT Booster_Version
FROM SPACEXTBL
WHERE PAYLOAD_MASS__KG_ = (
    SELECT MAX(PAYLOAD_MASS__KG_)
    FROM SPACEXTBL
);

"""
# Execute the SQL query
cur.execute(sql_query)

# Fetch the result if needed
result = cur.fetchall()
result

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [96]:
sql_query = """
SELECT 
    CASE
        WHEN substr(Date, 6, 2) = '01' THEN 'January'
        WHEN substr(Date, 6, 2) = '02' THEN 'February'
        WHEN substr(Date, 6, 2) = '03' THEN 'March'
        WHEN substr(Date, 6, 2) = '04' THEN 'April'
        WHEN substr(Date, 6, 2) = '05' THEN 'May'
        WHEN substr(Date, 6, 2) = '06' THEN 'June'
        WHEN substr(Date, 6, 2) = '07' THEN 'July'
        WHEN substr(Date, 6, 2) = '08' THEN 'August'
        WHEN substr(Date, 6, 2) = '09' THEN 'September'
        WHEN substr(Date, 6, 2) = '10' THEN 'October'
        WHEN substr(Date, 6, 2) = '11' THEN 'November'
        WHEN substr(Date, 6, 2) = '12' THEN 'December'
    END AS MonthName,
    Landing_Outcome AS FailureLandingOutcome,
    Booster_Version,
    Launch_Site
FROM SPACEXTBL
WHERE substr(Date, 1, 4) = '2015'
    AND Landing_Outcome LIKE '%Failure (drone ship)%';


"""
# Execute the SQL query
cur.execute(sql_query)

# Fetch the result if needed
result = cur.fetchall()
result

[('October', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('April', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

In [93]:
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-04-06,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-08-12,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-08-10,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-01-03,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [97]:
sql_query = """
SELECT Landing_Outcome, COUNT(*) AS OutcomeCount
FROM SPACEXTBL
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY Landing_Outcome
ORDER BY OutcomeCount DESC;
"""
# Execute the SQL query
cur.execute(sql_query)

# Fetch the result if needed
result = cur.fetchall()
result

[('No attempt', 10),
 ('Success (ground pad)', 5),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Precluded (drone ship)', 1),
 ('Failure (parachute)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>